:root {
    --color-white: #fff;
    --color-white2: #ccc;
    --color-whiteBackG: #d3d3d3;
    --color-green1: #4CAF50;
    --color-green2: #317a34;
    --color-black1: #2e2e2e;
    ;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-black1);
  font-family: 'Nunito Sans', sans-serif;
  width: 100%; /* Defina a largura do corpo como 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section{
    margin-top: 20px;
    margin-bottom: 30px;
}

.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
#controladorForm,
.form2G, .form5G {
    padding: 20px;
    width: 500px;
    margin: 10px 0px;
    background-color: var(--color-white);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form2G, .form5G h1 {
    margin-bottom: 5px;
}

/* Estilos para os rótulos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para os campos de entrada */
input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para o botão */
button {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--color-green1);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnSalvarAnim {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Estilos quando o botão é passado sobre */
button:hover {
    background-color: var(--color-green2);
}

.form2G,
.form5G,
#apresentarDados {
    display: none;
}

#select1, .infoIniciais {
    display: block;
}

#escolhaAddFinalizar{

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide o espaço em duas colunas */
    gap: 50px; /* Define a distância entre os elementos */
}

#escolhaAddFinalizar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens */
}

.addNovosDados, .btnBaixarResultado {
    flex: 0 0 auto; /* Impede que os elementos mudem de tamanho */
    width: 200px; /* Define a largura de cada elemento */
    margin-right: 20px; /* Define a distância entre os elementos */
    box-sizing: border-box; /* Garante que a largura inclua preenchimento e borda */
}

#apresentarDados {
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: var(--color-white);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tabela, #tabelaResultadoFinal {
    width: 447px;
    margin-left: 25px;
    text-align: center;
    display: none;
    position: relative; /* Adiciona position relative */
    max-height: 400px; /* Define uma altura máxima para a tabela */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se a tabela exceder a altura máxima */
}

/*cabeçalho*/
th { 
    padding: 20px; /* Adiciona preenchimento */
    background-color: var(--color-green1);
}
/*teste destaca linha do valor*/
.destaque {
    background-color: yellow; /* Você pode ajustar a cor de fundo conforme desejado */
}

/*valores*/
#tableData{
    background-color: var(--color-whiteBackG);
}

#apresentarDados p {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}